extends layout

block content
  .row.page
    .col-md-10.col-md-offset-1
      each competitor, index in competitors
        .row(class=competitor.uid)
          .col-sm-10.col-sm-offset-1
            .row.homosapiens
              .col-sm-2
                a(href='https://vk.com/id#{competitor.uid}' target="_blank")
                  .homosapiens__img(style="width: 200px; height: 200px; background-image: url(#{competitor.photo_max_orig});")
              .col-sm-10
                .homosapiens__name
                  span.homosapiens__number(style="margin-left: 200px;") #{index + 1}.
                  |  #{competitor.first_name} #{competitor.last_name} #{competitor.customBdate}
                  br
                  span.delete-nah(style="margin-left: 200px;" data-uid="#{competitor.uid}") нахуй
