extends layout

block content
  .row
    .col-md-10.col-md-offset-1
        .row.card-wrapper
          .col-sm-5.col-sm-offset-1
            .card.card_left
              .card__overlay
                .card__spinner
                  .spinner__dot1
                  .spinner__dot2
            .homosapiens-name.text-center
            button.btn.btn-lg.btn-block.btn-custom.js-btn-custom.clearfix(href='#')
              span.btn-txt Отлайкать
              span.like
          .col-sm-5.col-sm-offset-0
            .card.card_right
              .card__overlay
                .card__spinner
                  .spinner__dot1
                  .spinner__dot2
            .homosapiens-name.text-center
            button.btn.btn-lg.btn-block.btn-custom.js-btn-custom.clearfix
              span.btn-txt Отлайкать
              span.like
          .col-sm-6.col-sm-offset-3(style="margin-top:10px;")
            button.btn.btn-lg.btn-block.btn-custom.js-btn-skip.clearfix
              span.btn-txt Пропустить
              span.esko
  #top-deny-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            h4.modal-title Не так быстро, Амиго !
          |       
          .modal-body
            | Топ девочек пока еще не доступен для тебя.
            br
            | Чтобы посмотреть список лидеров, ты должен поставить минимум #{config.roundsDailyRequiredCount} лайков
            br
            | Тебе осталось&nbsp
            span.rounds-to-top
            |  раз. Поднапряги руку
          |       
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Слушаюсь

  #vote-deny-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            h4.modal-title Притормози, Амиго !
          |       
          .modal-body
            | Ты уже провел #{config.roundsDailyMaxCount} раундов, хороший результат
            br
            | Побереги силы. Возвращайся через часок
          |       
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Слушаюсь
