doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/main.css')
    script(src="//vk.com/js/api/xd_connection.js?2"  type="text/javascript")
    script(src="/js/bower_components/jquery/dist/jquery.js")
    script(src="/js/bower_components/bootstrap/dist/js/bootstrap.js")
    script(src="/js/bower_components/async/lib/async.js")
    script(src="/js/bower_components/lodash/dist/lodash.js")
    script(src="/js/app.js")
    if page === "top"
      script(src="/js/top.js")

  body
    block navbar
        nav.navbar.navbar-inverse(role='navigation')
            .container-fluid
                .navbar-header
                  a.navbar-brand(href='/index') Отдрочено
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                  ul.nav.navbar-nav.navbar-right
                    li.top-link(class=page === "top" ? "active" : "")
                      a(href='/top')
                        | Лидеры
                        span.sr-only (current)
                    li(class=page === "index" ? "active" : "")
                      a(href='/index') Голосовать
                    //- li(class=page === "admin" ? "active" : "")
                    //-   a(href='/admin') Admin

    block content