extends layout

block content
  .row.page
    .col-md-10.col-md-offset-1
      - var maxCount = competitors[0].winsCount
      each competitor, index in competitors
        .row
          .col-sm-10.col-sm-offset-1
            .row.homosapiens
              .col-sm-2
                a(href='https://vk.com/id#{competitor.uid}' target="_blank")
                  .homosapiens__img(style="background-image: url(#{competitor.photo_max_orig});")
              .col-sm-10
                .homosapiens__name
                  span.homosapiens__number #{index + 1}.
                  |  #{competitor.first_name} #{competitor.last_name}
                .progress.table-progress
                  .progress-bar.progress-bar-success(role='progressbar', style='width: #{(competitor.winsCount / maxCount) * 100 }%;')
                    | #{competitor.winsCount}
