@-webkit-keyframes bounce { 
    0%, 100% {-webkit-transform: translateY(0);}
    10% {-webkit-transform: translateY(-5px);
    transform: rotate(5deg);} 
    20% {-webkit-transform: translateY(-10px);
    transform: rotate(10deg);} 
    30% {-webkit-transform: translateY(-15px);
    transform: rotate(15deg);} 
    40% {-webkit-transform: translateY(-20px);
    transform: rotate(16deg);} 
    50% {-webkit-transform: translateY(-25px);
    transform: rotate(17deg);} 
    60% {-webkit-transform: translateY(-20px);
    transform: rotate(18deg);} 
    70% {-webkit-transform: translateY(-15px);
    transform: rotate(15deg);} 
    80% {-webkit-transform: translateY(-10px);
    transform: rotate(10deg);} 
    90% {-webkit-transform: translateY(-5px);
    transform: rotate(5deg);} 
} 

@-moz-keyframes bounce { 
    0%, 100% {-moz-transform: translateY(0);}
    10% {-moz-transform: translateY(-5px);
    transform: rotate(5deg);} 
    20% {-moz-transform: translateY(-10px);
    transform: rotate(10deg);} 
    30% {-moz-transform: translateY(-15px);
    transform: rotate(15deg);} 
    40% {-moz-transform: translateY(-20px);
    transform: rotate(16deg);} 
    50% {-moz-transform: translateY(-25px);
    transform: rotate(17deg);} 
    60% {-moz-transform: translateY(-20px);
    transform: rotate(18deg);} 
    70% {-moz-transform: translateY(-15px);
    transform: rotate(15deg);} 
    80% {-moz-transform: translateY(-10px);
    transform: rotate(10deg);} 
    90% {-moz-transform: translateY(-5px);
    transform: rotate(5deg);} 
} 
@-o-keyframes bounce { 
    0%, 100% {-o-transform: translateY(0);}
    10% {-o-transform: translateY(-5px);
    transform: rotate(5deg);} 
    20% {-o-transform: translateY(-10px);
    transform: rotate(10deg);} 
    30% {-o-transform: translateY(-15px);
    transform: rotate(15deg);} 
    40% {-o-transform: translateY(-20px);
    transform: rotate(16deg);} 
    50% {-o-transform: translateY(-25px);
    transform: rotate(17deg);} 
    60% {-o-transform: translateY(-20px);
    transform: rotate(18deg);} 
    70% {-o-transform: translateY(-15px);
    transform: rotate(15deg);} 
    80% {-o-transform: translateY(-10px);
    transform: rotate(10deg);} 
    90% {-o-transform: translateY(-5px);
    transform: rotate(5deg);} 
} 

@keyframes bounce { 
    0%, 100% {transform: translateY(0);}
    10% {transform: translateY(-5px);
    transform: rotate(5deg);} 
    20% {transform: translateY(-10px);
    transform: rotate(10deg);} 
    30% {transform: translateY(-15px);
    transform: rotate(15deg);} 
    40% {transform: translateY(-20px);
    transform: rotate(16deg);} 
    50% {transform: translateY(-25px);
    transform: rotate(17deg);} 
    60% {transform: translateY(-20px);
    transform: rotate(18deg);} 
    70% {transform: translateY(-15px);
    transform: rotate(15deg);} 
    80% {transform: translateY(-10px);
    transform: rotate(10deg);} 
    90% {transform: translateY(-5px);
    transform: rotate(5deg);} 
} 

