@import '../js/bower_components/bootstrap/less/bootstrap.less';
@import "elements.less";
@import (inline)'spinner.css';
@import (inline)'custom-bootstrap.css';
@import url(http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext,cyrillic);

@margin: 0px;

body {
	background-image: url(http://subtlepatterns.com/patterns/congruent_outline.png);
}

.navbar {
	border-radius: 0px;
	&-brand {
		font-size: 31px;
		font-family: 'Lobster', cursive;
	}
}

.card-wrapper {
	margin-top: 35px;
	.homosapiens-name {
		height: 40px;
		color: #fff;
		line-height: 40px;
		font-size: 20px;
	}
}

.card {
	&-wrapper {
		padding-bottom: 10px;
	}
	&_left {
		margin-left: @margin;
	}
	&_right {
		margin-left: -@margin;
	}
	
	&__overlay {
		height: 100%;
		width: 100%;
		position: absolute;
		background-color: rgba(0, 0, 0, 0.85);
	}

	.card__overlay {
			display: none;
	}

	&_in-progress {
		.card__overlay {
			display: block;
		}
	}
	
	.drop-shadow(2px, 4px, 15px, 0.4);
	position: relative;
	height: 400px;
	overflow: hidden;
	background-position: top center;
	background-size: cover;
	img {
		height: 100%;
		margin: 0 auto;
	}
}

.btn-custom {
	background-color: rgba(0, 0,0,0.5);
	line-height: 35px;
	font-size: 28px;
	position: relative;
	color: #eee;
	.esko {
		display: block;
		background-image: url(/images/esko.jpeg);
		width: 40px;
		height: 40px;
		background-size: 100%;
		position: absolute;
		right: 50px;
		top:10px;

	}
	.like {
		display: block;
		background-image: url(/images/like.png);
		width: 40px;
		height: 40px;
		background-size: 100%;
		position: absolute;
		right: 50px;
		top:10px;

	}
	&:hover {
	  	.like {
			-webkit-animation-name: bounce-musturbate; 
			animation-name: bounce-musturbate; 
			-webkit-animation-duration: 0.35s; 
			animation-duration: 0.35s; 
			-webkit-animation-fill-mode: both; 
			animation-fill-mode: both; 
			-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
  		}
  		@-webkit-keyframes bounce-musturbate { 
		    0%, 100% {-webkit-transform: translateY(0);}
		    10% {-webkit-transform: translateY(-5px);
		    transform: rotate(5deg);} 
		    20% {-webkit-transform: translateY(-10px);
		    transform: rotate(10deg);} 
		    30% {-webkit-transform: translateY(-15px);
		    transform: rotate(15deg);} 
		    40% {-webkit-transform: translateY(-20px);
		    transform: rotate(16deg);} 
		    50% {-webkit-transform: translateY(-25px);
		    transform: rotate(17deg);} 
		    60% {-webkit-transform: translateY(-20px);
		    transform: rotate(18deg);} 
		    70% {-webkit-transform: translateY(-15px);
		    transform: rotate(15deg);} 
		    80% {-webkit-transform: translateY(-10px);
		    transform: rotate(10deg);} 
		    90% {-webkit-transform: translateY(-5px);
		    transform: rotate(5deg);} 
		} 

		@-moz-keyframes bounce-musturbate { 
		    0%, 100% {-moz-transform: translateY(0);}
		    10% {-moz-transform: translateY(-5px);
		    transform: rotate(5deg);} 
		    20% {-moz-transform: translateY(-10px);
		    transform: rotate(10deg);} 
		    30% {-moz-transform: translateY(-15px);
		    transform: rotate(15deg);} 
		    40% {-moz-transform: translateY(-20px);
		    transform: rotate(16deg);} 
		    50% {-moz-transform: translateY(-25px);
		    transform: rotate(17deg);} 
		    60% {-moz-transform: translateY(-20px);
		    transform: rotate(18deg);} 
		    70% {-moz-transform: translateY(-15px);
		    transform: rotate(15deg);} 
		    80% {-moz-transform: translateY(-10px);
		    transform: rotate(10deg);} 
		    90% {-moz-transform: translateY(-5px);
		    transform: rotate(5deg);} 
		}

  	}
}

.btn-txt {
	margin-left: -35px;
}

.homosapiens {
	
	&:first-child {
		margin-top: 0;
	}

	background-color: rgba(0, 0, 0, 0.3);
	padding-top: 14px;
	margin-top: 10px;

	&__img {
		background-image: url(../vlada.jpg);
		width: 70px;
		height: 70px;
		background-size: cover;
		float: left;
	}
	
	&__name {
		font-size: 22px;
		// font-family: 'Lobster', cursive;
		color: #eee;
	}

	&__number {
		color: #5cb85c;
	}

	.progress {
		margin-top: 12px;
	}
}




/*TOP END */